<div class="bg-white">
    <header class="container mx-auto flex items-center justify-between py-3">
        <div class="flex items-center">
            <img src="assets/logo.svg" alt="logo" class="h-12 mr-2">
            <h2 class="font-semibold text-lg">Ecommerce Store</h2>
        </div>
        <div>
            <form action="#">
               <div class="flex items-start">
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-1" id="search" type="text" placeholder="search">
                <button type="button" class="bg-gray-800 text-white rounded p-2 leading-tight">search</button>
               </div>
            </form>
        </div>
    </header>
</div>
<div class="bg-gray-300">
    <ul class="container mx-auto flex items-center justify-between">
        <li class="hover:bg-gray-500 p-4">
            <a>Men's</a>
        </li>
        <li class="hover:bg-gray-500 p-4">
            <a>Women's</a>
        </li>
        <li class="hover:bg-gray-500 p-4">
            <a>Watches</a>
        </li>
        <li class="hover:bg-gray-500 p-4">
            <a>Jewellery</a>
        </li>
        <li class="hover:bg-gray-500 p-4">
            <a>Electronics</a>
        </li>
        <li class="hover:bg-gray-500 p-4">
            <a>Apparel</a>
        </li>
        <li class="hover:bg-gray-500 p-4">
            <a>Clothing</a>
        </li>
        <li class="hover:bg-gray-500 p-4">
            <a>Shoes</a>
        </li>
    </ul>
</div>